.recommend_place_holder_name {
    background-color : #37383A;
    height : 12px;
    padding: 0;
    border-radius: 3px;
}

.recommend_place_holder_descr {
    background-color : #37383A;
    height : 10px;
    padding: 0;
    width: 70%;
    border-radius: 2px;
    margin-bottom: 5px;
}

.profile_place_holder {
    background-color : #37383A;
    height : 16px;
    padding: 0;
    width: 70%;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 6px
}